<?xml version="1.0"?>
<configuration>

    <system.web>
      <compilation targetFramework="4.5"><assemblies><add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" /></assemblies></compilation>
      <httpRuntime targetFramework="4.5" />
    </system.web>

<connectionStrings><add name="Gym1DatabaseEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=44fd8aac-8e86-49df-addf-a6110045d974.sqlserver.sequelizer.com;Database=db44fd8aac8e8649dfaddfa6110045d974;User ID=deqrbhhvtsuisocv;Password=qgmjayocCEkcK2WDJAFfD5Zhwfd3u4ZgwteDjMGQ4KkFgpn34tSpbbvuoeV3uuPH;&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>
<!--source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\Database1.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework-->