@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AboutUs</title>
</head>
<body>
    <div>
        <h1>About:</h1>
        <p>It is management system about gym for all gym's managers.</p>
        <p>they can store their gym's data permanently on web. They </p>
        <p>can add members, they can mark attendence which tell them</p>
        <p>the fee date at runtime. they can check the detail of member</p>
        <p>which tell them that is a gym member or not and they can update</p>
        <p>their detail record. they can submit their fee.It is the biggest</p>
        <p>plateform which makes easy to manage all the data for gym'managers.</p>
    </div>
</body>
</html>
