@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Content/bootstrap.js"></script>
    <title>ContactUs</title>
</head>
<body>
    <div style="background-color:white; color:black">
     <h1>Contact us:</h1><br />
     <p>Phone No.: +923027590170</p> <br />
        <p>Email: mcsf14a004@pucit.edu.pk</p>
    </div>
</body>
</html>
