@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Monday</title>
</head>
<body>
    <h2>Monday is chest Workout day</h2>
    <h3>Here is toturials for chest workout</h3>
    <table>
        <tr>
            <td>
                <iframe width="750" height="415" src="https://www.youtube.com/embed/wpLAIivTo4M" ></iframe>
            </td>
        </tr>
    </table>
</body>
</html>
