@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*<link href="~/Content/register.css" rel="stylesheet" />*@
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Content/bootstrap.js"></script>
    <title>Thankyou</title>
</head>
<body>
    @*<img id="imgbg" src="~/Content/Images/Gym_reg.jpg" />
    <div class="header">
        <div id="img1" class="header">
            <img src="~/Content/Images/gymlogo.jpg" />
        </div>
    </div>
    <div class="bodyx">
    <div class="bodyx1">
        <h1>Thankyou for Registration</h1>
    </div>
        <div class="linkset">
         <a href="~/Home/backtoLogin" style="color:yellow">click here for Continue</a>
        </div>
    </div>*@
    <div style="text-align:center">
        <h1>Thankyou for Registration</h1>
        <br /><br /><br /><br />
        <br /><br /><br /><br />
        <br /><br /><br /><br />
        <a href="~/Home/backtoLogin" style="color:yellow">click here for Continue</a>
    </div>
</body>
</html>
