@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Saturday</title>
</head>
<body>
    <h2>Saturday is Legs Workout day</h2>
    <h3>Here is toturials for Legs workout</h3>
    <table>
        <tr>
            <td>
                <iframe width="750" height="415" src="https://www.youtube.com/embed/PAti3uGRkb8" ></iframe>
            </td>
        </tr>
    </table>
</body>
</html>
