@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sunday</title>
</head>
<body>
    <h2>Sunday is Abs Workout day</h2>
    <h3>Here is toturials for Abs workout</h3>
    <table>
        <tr>
            <td>
                <iframe width="750" height="415" src="https://www.youtube.com/embed/cfY_4m3RVRc" ></iframe>
            </td>
        </tr>
    </table>
</body>
</html>
