@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Monday</title>
</head>
<body>
    <h2>Tuesday is Triceps Workout day</h2>
    <h3>Here is toturials for Triceps workout</h3>
    <table>
        <tr>
            <td>
                <iframe width="750" height="415" src="https://www.youtube.com/embed/FXyvbvF7cPw" ></iframe>
            </td>
        </tr>
    </table>
</body>
</html>
